.entity_info{
    width: 60%;
    margin: 0 auto;
    font-family: calibri;
    background-color: #F7F7F7;

    h2, h4{
        text-align: center;
        margin: 0;
    }

    h2{
        padding-top: 15px;
    }

    h4{
        font-weight: lighter;
        padding-bottom: 15px;
    }

    .table_tag{
        font-weight: bolder;
        display: block;
        text-align: center;
        background-color: #FAFAFA;
        line-height: 2.5em;
    }

    .table_tag:nth-child(even){
        background-color: #F0F0F0;
    }

    .table_tag:before{
        content: attr(title) ": ";
        cursor: text;
    }

}