.ActiveRequests {
  color: #555;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 10;
}

.ActiveRequests .DropdownButton {
  cursor: pointer;
}

.ActiveRequests .active {
  color: #00B5EB;
  -webkit-animation: blinker 2s linear infinite;
          animation: blinker 2s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    color: #244655;
  }
}

@keyframes blinker {
  50% {
    color: #244655;
  }
}
