.ChannelListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: auto;
  margin: 5px auto;
  max-width: 800px;
}

.ChannelListItem.not-registered {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  background-color: #eee;
}

.ChannelListItem.not-registered .logo {
  -webkit-filter: contrast(0.7);
          filter: contrast(0.7);
}

.ChannelListItem a,
.ChannelListItem a:hover,
.ChannelListItem a:active,
.ChannelListItem a:visited {
  font-size: 17px;
  text-decoration: none;
  color: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.ChannelListItem .logo {
  margin: 0 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.ChannelListItem .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-right: 30px;
  width: 100%;
}

.ChannelListItem .content span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
