.Menu {
  position: fixed;
  top: 80px;
  width: 0;
  height: 100%;
  background-color: #0F1013;
  font-family: Roboto Condensed;
  text-transform: uppercase;
  font-weight: 700;
  color: #EEE;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  overflow: hidden;
  margin: 0;
  z-index: 99;
}

.Menu.visible {
  width: 100%;
}

.Menu ul {
  margin: 0;
  padding: 0;
}

.Menu ul li {
  list-style-type: none;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 3px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  white-space: nowrap;
}

.Menu ul li:hover {
  border-left: 6px solid #446188;
}

.Menu ul li .MenuLink,
.Menu ul li .MenuLink:visited,
.Menu ul li .MenuLink:active {
  margin: 10px 0 10px 25px;
  width: 100%;
  text-decoration: none;
  color: #EEE;
}

.Menu ul li a {
  margin: 10px 0 10px 25px;
  width: 100%;
}

.Menu ul li .CloseMenuButton {
  height: 50px;
  overflow: hidden;
  float: right;
}

.Menu ul li .rot-45 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.Menu ul li .rot45 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
