<!DOCTYPE html>
<html>
    <head>
        <title>home page fragments</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../resources/css/main_layout.css"/>
    </head>
    <body>
        <div th:fragment="home">
            <h1 class="content_title">Home</h1>
            <div class="home_description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Morbi sagittis pellentesque diam, ut vulputate nunc pulvinar eget. 
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
                Fusce ullamcorper ex vel lobortis mollis.
            </div>
            <div class="home_description">
                Nunc ut massa consectetur, iaculis orci ut, tempus odio. 
                Aliquam id consectetur turpis. Curabitur congue tellus ac ex ornare, 
                vel auctor enim eleifend. Morbi erat ante, tristique elementum ex ut, 
                eleifend accumsan justo. Integer metus ex, pretium quis ornare id, 
                dictum sit amet tortor. 
            </div>
        </div>
    </body>
</html>
