<!DOCTYPE html>
<html>

<head>
    <title>channel fragments</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../resources/css/main_layout.css" />
</head>

<body>

    <div th:fragment="recordList">
        <div th:each="record : ${records}">

            <div th:if="${record.id == null}" th:fragment="MCP_record" class="MCP_list_item">
                <a href="#" th:href="${record.uri}">
                    <div class="info">
                        <h2 th:text="${record.name}">Record name</h2>
                        <h5 th:text="${record.mcpName}">MCP name</h5>
                    </div>
                </a>
                <form action="#" th:action="@{/record/put}" th:method="post">
                    <input type="hidden" th:name="externalId" th:value="${record.externalId}">
                    <input type="hidden" th:name="mcpName" th:value="${record.mcpName}">
                    <input type="submit" value="Add to accepted records" class="accept">
                </form>
            </div>


            <div th:unless="${record.id == null}" th:fragment="DB_record" class="DB_list_item">
                <a href="#" th:href="@{/record/show(id=${record.id})}">
                    <div class="info">
                        <h2 th:text="${record.name}">Record name</h2>
                        <h5 th:text="${record.mcpName}">MCP name</h5>
                    </div>
                </a>
            </div>

        </div>
    </div>

</body>

</html>