<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/css/main_layout.css"/>
    </head>
    <body>
        <ul th:fragment="menu" id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/channel/find">Find channel</a></li>
            <li><a href="#">Find record</a></li>
            <li><a href="#">Records queue</a></li>
        </ul>
    </body>
</html>
