/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/core/target/
/data-model/target/
/plugins/target/
/database/target/
/plugins/src/main/resources/secret.properties
README.html
/core/nbproject/
/plugins/nbproject/
/web/nbproject/
nbactions.xml
start.sh

### VS Code ###
.vscode
