body {
  margin: 0;
}

.content_title {
  text-align: center;
  font-family: calibri;
  font-weight: normal;
}

#menu {
  margin: 0 auto;
  height: 40px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: calibri;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.75);
}

#menu a {
  text-decoration: none;
  display: block;
  height: 100%;
  color: #444;
  line-height: 40px;
  background-color: #EEE;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#menu a:hover {
  background-color: #DDD;
}

#menu li {
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
}

.home_description {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
}

.find_form {
  width: 50%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.find_form input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: calibri;
  font-size: 1.2em;
  padding: 12px 20px;
}

.find_form input[type=text] {
  margin: 0px 0 20px 0;
  text-align: center;
}

.find_form input[type=submit] {
  background-color: #DDD;
  cursor: pointer;
}

.DB_list_item, .MCP_list_item {
  width: 30%;
  min-width: 300px;
  margin: 0 auto;
  font-family: calibri;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  padding: 10px 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

.DB_list_item a, .MCP_list_item a {
  text-decoration: none;
}

.DB_list_item .info, .MCP_list_item .info {
  padding-left: 20px;
  margin: 10px 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  border-left: 5px solid #BBE1BB;
}

.DB_list_item .info h2, .MCP_list_item .info h2, .DB_list_item .info h5, .MCP_list_item .info h5 {
  margin: 0;
  color: #CCC;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.DB_list_item:hover .info, .MCP_list_item:hover .info {
  border-left: 5px solid #6A6;
  padding-left: 30px;
}

.DB_list_item:hover .info h2, .MCP_list_item:hover .info h2 {
  color: #2A2;
}

.MCP_list_item .info {
  border-left: 5px solid #BBB;
}

.MCP_list_item .info h2, .MCP_list_item .info h5 {
  color: #CCC;
}

.MCP_list_item:hover .info {
  border-left: 5px solid #666;
}

.MCP_list_item:hover .info h2 {
  color: #333;
}

.MCP_list_item form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.MCP_list_item form .trusted {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.MCP_list_item form .trusted span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: #EEE;
  cursor: pointer;
}

.MCP_list_item form .trusted span:hover {
  background-color: #9DA;
}

.MCP_list_item form .trusted input[type="checkbox"] {
  display: none;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.MCP_list_item form .trusted input[type="checkbox"]:checked + span {
  background-color: #469c4b;
  color: #E5E5E5;
}

.MCP_list_item form input[type="submit"] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
  border: none;
  background-color: #BBB;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.MCP_list_item form input[type="submit"]:hover {
  background-color: #6A6;
}

.entity_info {
  width: 60%;
  margin: 0 auto;
  font-family: calibri;
  background-color: #F7F7F7;
}

.entity_info h2, .entity_info h4 {
  text-align: center;
  margin: 0;
}

.entity_info h2 {
  padding-top: 15px;
}

.entity_info h4 {
  font-weight: lighter;
  padding-bottom: 15px;
}

.entity_info .table_tag {
  font-weight: bolder;
  display: block;
  text-align: center;
  background-color: #FAFAFA;
  line-height: 2.5em;
}

.entity_info .table_tag:nth-child(even) {
  background-color: #F0F0F0;
}

.entity_info .table_tag:before {
  content: attr(title) ": ";
  cursor: text;
}
