.CheckBox {

    input {
        display: none;
    }

    label {
        width: 25px;
        height: 25px;
        display: flex;
        border-radius: 100%;
        border: 2px solid #888;
        transition: 0.7s;
        justify-content: center;
        align-items: center;

        span {
            width: 0px;
            height: 0px;
            background-color: #aaa;
            border-radius: 100%;
            transition: 0.3s ease-in-out;
        }
    }



    #cbx:checked+label {
        border-color: #038C73;
        span {
            width: 15px;
            height: 15px;
            background-color: #038C73;
        }
    }
}