.HamburgerMenu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 25px;

    .bar {
        margin: 3px 0;
        width: 25px;
        height: 3px;
        background-color: #DDD;
        transition: 0.5s;
    }

    &.toggled .bar:nth-child(1) {
        transform: translate(0px, 9.5px) rotate(-45deg);
    }

    &.toggled .bar:nth-child(2) {
        opacity: 0;
    }

    &.toggled .bar:nth-child(3) {
        transform: translate(0px, -8px) rotate(45deg);
    }

}