.RequestList {
    display: none;
    overflow-y: scroll;
    max-height: 60%;
    position: fixed;
    width: 30%;
    min-width: 200px;
    right: 3px;
    top: 83px;
    background-color: #eee;
    flex-direction: column;

    &.visible {
        display: flex;
        border: 1px solid rgba(0,0,0,0.2);
    }
}