.TrustedBadge {
    font-family: Roboto Condensed;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #66B666;
    border-radius: 3px;
    padding: 4px 5px;
    color: #FFF;
    display: inline-block;
    text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0%, 0%, 0%, 0.2);
    font-size: 11px;
}