<!DOCTYPE html>
<html>

<head>
    <title>home page fragments</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../../../../resources/css/main_layout.css" />
</head>

<body>
    <div th:fragment="home">
        <h1 class="content_title">Home</h1>
        <div class="home_description">
            Media Hunter is used for getting data from various media content providers (hereinafter MCP) and providing
            it (as JSON files) to apps requesting such information (using REST API). There has to be implemented plugin
            inside the plugins module of this project for every such MCP. Actively running plugins are: TODO. Thanks to
            those plugins it is possible to register new channels or records (media) to DB. Channels can be registered
            with or without "trusted" flag. While registering new channel, all of its records are registered as well.
            NOT TRUSTED channels records have to be accepted (in Records queue) in order to be delivered to other apps,
            TRUSTED channels records are always accepted. Record is accepted automatically while registering
            independent record in "Find record" tab. When Media Hunter is running, it is checking all channels for a
            new content every TODO minutes.
        </div>
        <div class="home_description">
            TODO more info.
        </div>
    </div>
</body>

</html>