.HamburgerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  margin: 25px;
}

.HamburgerMenu .bar {
  margin: 3px 0;
  width: 25px;
  height: 3px;
  background-color: #DDD;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.HamburgerMenu.toggled .bar:nth-child(1) {
  -webkit-transform: translate(0px, 9.5px) rotate(-45deg);
          transform: translate(0px, 9.5px) rotate(-45deg);
}

.HamburgerMenu.toggled .bar:nth-child(2) {
  opacity: 0;
}

.HamburgerMenu.toggled .bar:nth-child(3) {
  -webkit-transform: translate(0px, -8px) rotate(45deg);
          transform: translate(0px, -8px) rotate(45deg);
}
