.Login {
  height: 100%;
  width: 100%;
  color: #EEE;
  background-color: #0F1013;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Login .Logo {
  margin-top: 50px;
  font-size: 25px;
}

.Login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 70%;
}

.Login form input {
  text-align: left;
  font-family: Roboto Condensed;
  margin: 8px 0;
  height: 2em;
}

.Login form .ButtonLink {
  border: 1px solid #B83323;
  border-bottom: 5px solid #B83323;
  background-color: #E35949;
  margin: 8px 0;
  line-height: 2em;
  color: #EEE;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Roboto Condensed;
}
