@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,500,700');
@import url('https://fonts.googleapis.com/css?family=Heebo');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  font-family: Heebo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
